@import '../../const/Variables.scss';
@include resetPage();
.container {
    background: $bg-color;
    height: 100vh;
    .form_login {
        font-family: cursive;
        @include block(500px,50vh);
        max-height: 100%;    
        @include Position(absolute,null ,null ,null ,null );
        @include Center(50%,50% ,-50% ,-50% );
        background-color: $main_color !important;
        border-radius: $br;
        h1 {
            color: $text-color;
            font-size: $header-size-40;
            text-align: center;
            margin-top: $mg-top-30;
        }
        .group-pass {
            margin-top: 50px;
            @include block(80%,40px);
            @include Position(relative,null ,null ,null ,null );
            @include Center(50%,0 ,-50% ,0 );
            .icon_1 {
                @include Position(absolute,null ,null ,16px ,10px );
                @include block(20px,20px);
                z-index: 1;
            }
            input {
                border-bottom: 1px solid #000;
                @include block(100%,50px );
                outline: none;
                padding: 4px 40px 0px;
                border-radius: $br;
                border: none;
                @include Position(absolute,null ,null ,0 ,null );
            }
            .name {
                transition: all 0.6s ease;
                @include Position(absolute,null ,null ,16px ,40px );
            }
            .active {
                @include Position(absolute,null ,null ,35px ,40px );
                transition: all 0.6s ease;
            }
            .fa-eye,
            .fa-eye-slash {
                @include Position(absolute,null ,10px ,15px ,null );
            }            
        }
        .group-pass input:focus ~ .group-pass .name {
            bottom: 22px;
        }
        button {
            @include Position(absolute,null ,null ,null ,null );
            @include btn(20%,50px,20px);
            @include Center(50%,80%,-50%,0);
            background-color: $bg-color;
        }
    }
}