@import '../../const/Variables.scss';
@include resetPage();
.wrap__page_load {
    height: 100vh;
    background-color: $bg-color;
    .page_load {
      @include block(20px,$size-48 / 4);
        display: inline-block;
        position: relative;
        border-radius: 4px;
        @include Center(50%,50%,-50%,-50%);
        color: $main_color;
        background: currentColor;
        animation: loader 0.6s 0.3s ease infinite alternate;
    
        &::after, &::before {
          content: '';
          @include block(20px,$size-48 / 4);
          background: currentColor;
          border-radius: 4px;
          @include Position(absolute,0,110%,null,null);
          animation: loader  0.6s ease infinite alternate;
        }
        &::after {
          left: 110%;
          right: auto;
          animation-delay: 0.6s;
        }
        @keyframes loader {
            0% {   width: 20px; }
            100% { width: $size-48;}
        }
      }
}
