* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$base: #263238;
$lite:  #000;
$brand: #FF3D00;
$main-color: #ffefd7;
$size: 48px;
.wrap__page_load {
    height: 100vh;
    background-color: $main-color;
    .page_load {
        width: 20px;
        height: $size / 4;
        display: inline-block;
        position: relative;
        border-radius: 4px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: $brand;
        background: currentColor;
        animation: animloader69 0.6s 0.3s ease infinite alternate;
    
        &::after, &::before {
          content: '';
          width: 20px;
          height: $size / 4;
          background: currentColor;
          position: absolute;
          border-radius: 4px;
          top: 0;
          right: 110%;
           animation: animloader69  0.6s ease infinite alternate;
        }
        &::after {
          left: 110%;
          right: auto;
          animation-delay: 0.6s;
        }
        @keyframes animloader69 {
            0% {   width: 20px; }
            100% { width: $size;}
        }
      }
}
