$main-color: #ffefd7;
$form-bg: #ff8b43;
$bg-color: #ffefd7;
$text-color: #8b3600;
$header-size: 40px;
$mg-bottom: 12px;
@mixin btn($width, $height, $font-size) {
  width: $width;
  height: $height;
  background-color: $form-bg;
  color: $bg-color;
  cursor: pointer;
  font-size: $font-size;
  border-radius: 40px;
  border: none;
}
@mixin block($width, $height) {
  width: $width;
  height: $height;
}
@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.question-form {
  background-color: $main-color;
  .time {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @include block(100%, 80px);
    background-color: $form-bg;
    color: $text-color;
    text-align: center;
    line-height: 80px;
    label {
      color: $main-color;
    }
  }
  .form__header {
    color: $form-bg;
    font-size: xx-large;
    text-align: center;
    margin-top: calc(80px);
  }
  .form__body {
    margin-left: 40px;
    .question {
      margin-bottom: $mg-bottom;
      font-weight: bold;
    }
    .answers {
      margin-bottom: $mg-bottom;
    }
    .answer {
      margin-bottom: $mg-bottom;
    }
    .input_answer {
      @include block(20px, 20px);
      margin-right: $mg-bottom;
    }
    .clearBtn {
      @include btn(16%, 30px, 16px);
      margin-bottom: $mg-bottom;
    }
  }
  .wrap_btn {
    @include flexCenter();
    padding: 30px 0;
    .btn {
      text-align: center;
      @include btn(150px, 30px, 14px);
      margin-right: $mg-bottom;
    }
  }
}
