@import "../../const/Variables.scss";
@include resetPage();
.question-form {
  background-color: $bg-color;
  .time {
    @include Position(fixed, 0, 0, null, 0);
    @include block(100%, 80px);
    background-color: $main_color;
    color: $text-color;
    text-align: center;
    line-height: 80px;
    .information_time {
      display: flex;
      justify-content: center;
    }
  }
  .form__header {
    color: $main_color;
    font-size: xx-large;
    text-align: center;
    margin-top: calc(80px);
  }
  .form__body {
    margin-left: 40px;
    .question {
      margin-bottom: $mg-bottom-12;
      font-weight: bold;
    }
    .answers,
    .answer {
      margin-bottom: $mg-bottom-12;
    }
    .input_answer {
      @include block(20px, 20px);
      margin-right: $mg-bottom-12;
    }
    .clearBtn {
      @include btn(16%, 30px, 16px);
      margin-bottom: $mg-bottom-12;
      color: $bg-color;
      background-color: $main_color;
    }
  }
  .wrap_btn {
    @include flexCenter();
    padding: 30px 0;
    .btn {
      text-align: center;
      @include btn(150px, 40px, 14px);
      margin-right: $mg-bottom-12;
      color: $bg-color;
    }
  }
}
