@import "../../const/Variables.scss";
@include resetPage();
.page_404 {
  padding: 40px 0;
  background: #ffefd7;
  font-family: "Arvo", serif;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

.text h1 {
  font-size: 70px;
  text-align: center;
}

.contant_box_404 h3 {
  font-size: 40px;
  text-align: center;
}

.contant_box_404 a {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  transform: translateY(-50%);
  text-decoration: none;
  text-transform: uppercase;
  margin-inline: auto;
  flex-direction: column;
}

.contant_box_404 p {
  text-align: center;
}

.contant_box_404 {
  display: flex;
  flex-direction: column;
}
.btn_go-to-home {
  text-align: center;
  @include btn(150px, 40px, 14px);
  margin-inline: auto;
  color: $bg-color;
}
